<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Registration Form</title>
	<th:block th:include="fragments/header"></th:block>
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body>

<th:block th:include="fragments/nav"></th:block>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>안녕하세요 감사해요 잘있어요 다시만나요</h1>
     </div>
</div>
<th:block th:include="fragments/footer"></th:block>

</body>
</html>